*{
    padding: 0;
    margin: 0;
    font-family: Overpass, Arial;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
}


/* ACCUEIL */


nav{
    background-color: #222601;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
}

#logo-white{
    width: 90px;
    height: 90px;
    margin: 0 20px;
}


li{
    list-style: none;
    padding: 20px;
}

#menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#volcane-photo{
    width: 100%;
    position: relative;
}

#banner-volcane{
    background-image: url("/photos/banner\ photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#logo-green{
    width:350px;
    height: 350px;
    animation-name: logo-appear;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes logo-appear{
    0%{
        transform: translateX(-600%);
    }
    100%{
        transform: translateX(0);
    }
}

#welcome-banner{
    background-color: #EBECDE;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

#welcome-banner h2{
    animation-name: title-appear;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

@keyframes title-appear{
    0%{
        transform: translateX(800px);
    }
    100%{
        transform: translateX(0);
    }
}


.text-left{
    animation-name: appear-left;
    transform: translateX(-200%);
}


.CTA-container{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

/* BUTTONS */

.green-button{
    background-color: #384001;
    padding: 23px 20px ;
    border-radius: 20px;
    color: #FFFFFF;
    transition: all;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    height: fit-content;
    font-size: 24PX;
}

.green-button:hover{
    background-color: #808F15;
}

.transparent-button{
    padding: 20px 30px;
    border: 5px solid #187CD3;
    color: #187CD3;
    border-radius: 20px;
    margin:20px;
    display: block;
    /* transform a for the buttons, display block */
    width: fit-content;
    transition: all;
    transition-duration: 0.8s;
    font-size: 24PX;
    font-weight: bold;
}

.transparent-button:hover{
    background-color: #187CD3;
    color: #FFFFFF;
}

.button-text{
    color: #EBF0F5;
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.button-text:hover{
    color: #a4cef3;
}

/* FONTS CLASS */

.h2-green{ 
    font-family: Lilita One;
    font-size: 46px;
    text-align: center;
    color: #222601;
    font-weight: 200;
}

.h2-white{ 
    font-family: Lilita One;
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 200;
}

.h3-green-card{ 
    font-family: Lilita One;
    font-size: 46px;
    text-align: center;
    color: #222601;
    font-weight: 200;
    margin-top: 20px;
}

.h3-green{ 
    font-family: Lilita One;
    font-size: 36px;
    text-align: center;
    color: #222601;
    font-weight: 200;
}

.h3-white{ 
    font-family: Lilita One;
    font-size: 36px;
    text-align: center;
    color:#EBF0F5;
    font-weight: 200;
}

.h4-noir{
    font-size: 32px;
    font-weight: bold;
    margin: 18px;
}

.h4-white{
    font-size: 32px;
    font-weight: bold;
    margin: 20px;
    color: #FFFFFF;
}

.font-normal{
    font-size: 24px;
    margin: 15px;
}

.font-normal-white{
    font-size: 24px;
    margin: 15px;
    color: white;
}

.font-normal-white-footer{
    font-size: 20px;
    margin: 15px;
    color: white;
}

.font-bold{
    font-size: 24px;
    font-weight: bold;
}


#objetive-website{
    background-color: #EBF0F5;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 80px;
}

.photo-small{
    width: 400px;
    height: 300px;
    border-radius: 16px;
}

#about-website{
    background-color: #187CD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}

#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.box-info{
    background-color: #EBF0F5;
    border-radius: 16px;
    width: 293px;
    height: 170px;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    transition: all;
    transition-duration: 0.5s;
}

.box-info:hover{
    transform: scale(1.2);
    background-color: #0C375D;
    color: #EBF0F5;
}

#banner-info{
    background-color: #EBF0F5;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.big-photo{
    width: 50%;
    height: 500px;
}

#text-info{
    height: 300px;
    align-content: center;
    /* new propertie instead ot flex for texts*/
    a{
        margin: 20px auto;
    }
}

/* DEOUVRIR page*/

#banner-2-decouvrir h2{
    animation-name: title-appear;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
}

.card-left{
    background-color: #EBECDE;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.card-right{
    background-color: #EBECDE;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 60px;
}

.card-photo{
    width: 400px;
    transition: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.card-photo:hover{
    transform: scale(0.9);
}

.card-content{
    padding-left: 20px;
    padding-bottom: 20px;
}

#banner-2-decouvrir{
    background-image: url(/photos/banner-2-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    padding: 40px;
    height: 300px;
}

#banner-2-green{
    background: #384001;
    padding: 30px;
    text-align: center;
}

#infos-practiques{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px; 
    padding-left: 30px;

}

#sub-section1-infos{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sub-section2-infos{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bleu{
    width: 90px;
    height: 90px;
}

/*INFOS-PRACTIQUES*/

/* FOOTER */

footer{
    background-color: #222601;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.icon{
    width: 70px;
    height: 70px;
}

#footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-mentions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a{
        margin: 20px;
    }
}